task_config:
  task_name: llm_decoding_task
  data_params:
    data_root: data
    window_width: 0.625
    electrode_file_path: processed_data/all_subject_sig.csv
training_params:
  batch_size: 16
  epochs: 50
  learning_rate: 0.01
  weight_decay: 0.0
  early_stopping_patience: 15
  n_folds: 5
  min_lag: -1000
  max_lag: 1000
  lag_step_size: 200
  losses:
  - cross_entropy
  metrics: []
  early_stopping_metric: cross_entropy
  smaller_is_better: true
trial_name: llm_decoding
model_spec:
  constructor_name: gpt2_brain
  params:
    freeze_lm: true
    no_brain_encoder: true
    encoder_forward_kwargs:
      preserve_ensemble: true
