config_setter_name: neural_conv
task_config:
  task_name: sentence_onset_task
  data_params:
    data_root: data
    electrode_file_path: processed_data/all_subject_sig.csv
    window_width: 0.625
    preprocessing_fn_name: window_average_neural_data
    subject_ids:
    - 9
    preprocessor_params:
      num_average_samples: 32
  task_specific_config:
    negatives_per_positive: 5
    negative_margin_s: 0.75
    sentence_csv_path: processed_data/all_sentences_podcast.csv
training_params:
  batch_size: 32
  epochs: 50
  learning_rate: 0.001
  weight_decay: 0.0001
  early_stopping_patience: 10
  n_folds: 5
  min_lag: -1000
  max_lag: 1000
  lag_step_size: 200
  losses:
  - bce
  metrics:
  - roc_auc
  - sensitivity
  - specificity
  - f1
  - precision
  early_stopping_metric: f1
  smaller_is_better: false
trial_name: sentence_onset_lr
model_spec:
  constructor_name: ensemble_pitom_model
  params:
    conv_filters: 128
    dropout: 0.2
    num_models: 10
    embedding_dim: 1
    output_activation: sigmoid
  sub_models: {}
