config_setter_name: neural_conv
task_config:
  task_name: gpt_surprise_multiclass_task
  data_params:
    data_root: data
    electrode_file_path: processed_data/all_subject_sig.csv
    window_width: 0.625
    subject_ids:
    - 9
    preprocessing_fn_name: window_average_neural_data
    preprocessor_params:
      num_average_samples: 32
  task_specific_config:
    content_noncontent_path: processed_data/df_word_onset_with_pos_class.csv
training_params:
  batch_size: 32
  epochs: 50
  learning_rate: 0.001
  weight_decay: 0.0001
  early_stopping_patience: 100
  n_folds: 10
  min_lag: -1000
  max_lag: 1000
  lag_step_size: 200
  losses:
  - cross_entropy
  metrics:
  - roc_auc_multiclass
  - f1
  - confusion_matrix
  early_stopping_metric: roc_auc_multiclass
  smaller_is_better: false
  logistic_regression_baseline: true
trial_name: gpt_surprise
model_spec:
  constructor_name: ensemble_pitom_model
  params:
    conv_filters: 128
    dropout: 0.2
    num_models: 10
    embedding_dim: 3
    output_activation: softmax
  sub_models: {}
